* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #f0f2f5;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}