<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Confirmation</title>
</head>
<body>
  <h1>Post Confirmation</h1>

  <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
      <div class="post">
        <h2>Event ID: <%= post.eventID.eventname  %></h2>
        <p>Description: <%= post.descriptionpost %></p>
        <p>Creation Date: <%= new Date(post.postcreationdate).toDateString() %></p>
        <ul>
          <% if (post.images && post.images.length > 0) { %>
            <p><strong>Images:</strong></p>
            <% post.images.forEach(logo => { %>
              <img src="/uploads/<%= logo.filename %>" alt="Event Image">
            <% }) %>
          <% } else { %>
            <p>No images available</p>
          <% } %>
        </ul>
      </div>
    <% }) %>
  <% } else { %>
    <p>No posts available for this event.</p>
  <% } %>

</body>
</html>