.about-us__container{
    width: 100vw;
    height: 100%;

  
    align-content: center;
    background-color: rgb(45,21,143);
    

}
.about-us__container header{

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 150px;
    /*Glass effect*/
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-us__header-img-container{
    --imgWidth: 50px;
    width: auto;
    height: var(--imgHeight);
    display: inline-block;

}
.about-us__header-img-container{
    margin-right: 100px;
}
.about-us__navbar{
    margin-left:100px;
} 
.about-us__header-img-container img{
    width: var(--imgWidth);
    object-fit: contain;
}
.about-us__header-img-container::after{
    content : "Suki";
    color:white;
    position: relative;
    top:-10px;
    left:10px;        
    font-size: 30px;
    font-weight: 800;
}
.about-us__navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-us__navbar-list li{
    list-style: none;
}
.about-us__navbar-list li a{
    color:white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: var(--borderRad);
    transition: 0.3s ease-in-out;
}
.about-us__navbar-list li a:hover{
    /*Add glass effect*/
    color:rgb(255, 80, 121);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.about-us__card{
    --formWidth : 1000px;
    --formHeight : auto;
    --borderRad : 20px;
    --fontSize: 16px;
    margin:auto;
    width : var(--formWidth);
    height: var(--formHeight);
    /*Glass effect*/
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border-radius: var(--borderRad);
    padding: 100px 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    scale: 1;
}

.about-us__card .title{
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    
}
.about-us__story-container,
.about-us__team-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.about-us__logo-container{
    --logoSize : 300px;

    width: var(--logoSize);
    height: var(--logoSize);
    background:transparent;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__logo-container img{
    width: var(--logoSize);
    object-fit: contain;
}

.about-us__story-text,
.about-us__team-text{

    font-size: 20px;
    text-align: justify;
    width: 70%;
}
.about-us__story-text span,
.about-us__team-text span{
    font-weight:900;
    display: block;
    font-size: 40px;
}
.about-us__container .p-1{
    margin-bottom:20px;
}

.about-us__team-img-container{
    --teamImgSize : 300px;

    width: var(--teamImgSize);
    height: var(--teamImgSize);
    border-radius:  50%;   
    background-color: whitesmoke;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us__team-img-container img{
    width: var(--teamImgSizeSize);
    object-fit: contain;
}


