
.create-event__container{

    width: 100vw;
    height: 100%;

    background-color: rgb(45,21,143);
    align-content:center;

}
.create-event__form{
    --width: 1000px;
    --height: auto;
    margin: auto;

    width: var(--width);
    height: var(--height);
    
    background-color: white;
    --borderRad: 20px;
    --fontSize: 20px;
    border-radius: var(--borderRad);
    /*Glass Effect*/
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    padding: 10px 20px;
    margin-top: 100px;
    margin-bottom:100px;
}

.create-event__form .create-event__header-bar{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-event__form div:nth-child(1){
    margin-right:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.create-event__form div:nth-child(1) p{
    width:150px;
    font-size: var(--fontSize);
    margin-left: 10px;

}
.create-event__header-bar p, .create-event__header-bar span{
    color:white;

}
.create-event__form div:nth-child(1) p span{
    font-weight: 900;
    font-size: var(--fontSize);
}
.create-event__form div:nth-child(2){
    margin-left:auto;
}
.create-event__form .create-event__profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    --profileSize: 60px;
    width:var(--profileSize);
    height: var(--profileSize);
    /*Glass Effect*/
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50%;  
    overflow: hidden;
    cursor: pointer;
}
.create-event__form .create-event__profile-container img{
    width: 90%;

    object-fit: contain;
    background-size: cover;
}
.create-event__form .create-event__logo-container{
    --logoSize: 100px;
    width:var(--logoSize);
    height: var(--logoSize);
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-event__form .create-event__logo-container img{
    width: 90%;
    object-fit: contain;
    background-size: cover;
}
.create-event__form .create-event__event-properties{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.create-event__form input[type = "text"],
.create-event__form input[type = "number"],
.create-event__form input[type = "date"],
.create-event__form input[type = "time"]
{
    padding: 10px 20px;
    height: 50px;
    font-size: var(--fontSize);
    border-radius:var(--borderRad);
    border: 0;
    outline: 0;
    margin: 5px 0px;
    color:white;
    /*Glass efffect*/
    background-color: rgba(105, 102, 102, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    box-sizing: border-box ;
}
#event-name{
    width: 100%;
    border-radius: 0px;

}

/*Description*/
.create-event__description-container,
.create-event__rules-container,
.create-event__location-container,
.create-event__participant-container,
.create-event__date-n-time-container,
.create-event__ticket-container,
.create-event__logo-container,
.create-event__category-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 10px 0px;
}


.create-event__description-container label,
.create-event__rules-container label,
.create-event__location-container label,
.create-event__participant-container label,
.create-event__category-container label
{
    margin-right:auto;
    width: 200px;
    font-weight: bold;
    color:white;
}

.create-event__date-n-time-container p,
.create-event__ticket-container p{
    width:200px;
    color:white;
    font-weight:bold;
    margin-right:auto;
}
.create-event__date-n-time-container div,
.create-event__ticket-container div{

    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.create-event__date-n-time-container div input{
    width: 50%;
}
.create-event__date-n-time-container div input:nth-child(1){
    margin-right: 5px;
}
.create-event__date-n-time-container div input:nth-child(2){
    margin-left:5px;
}
.create-event__ticket-container div input:nth-child(1){
    margin-right: 5px;
} 
.create-event__ticket-container div select{
    margin-right:10px;
    margin-left:5px;
   
}
.create-event__logo-container .img-container{
    border: 1px solid white;

    --eventWidth: 100%;
    --eventHeight: auto;
    width:var(--eventWidth);
    height: var(--eventHeight);
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.create-event__logo{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;

    height: 500px;
    margin:5px 0px;
    padding-bottom: 10px;
}

.create-event__upload-delete-container{    
   width: 20%;

   position: relative;
   left:12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap:10px;
}
.create-event__upload-delete-container button{
    height:50%;
}
.create-event__logo .img-container{
    border: 1px solid white;

    --eventWidth: 80%;
    --eventHeight: 100%;
    width:var(--eventWidth);
    height: var(--eventHeight);
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    width: 90%;
}


.create-event__logo-container .img-container img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.create-event__ticket-container div select,
.create-event__ticket-container div input{
    width: 35%;
}
.create-event__ticket-container div select{
    padding: 13px 20px;
}

.create-event__description-container textarea,
.create-event__rules-container textarea,
.create-event__location-container input,
.create-event__participant-container input,
.create-event__ticket-container select,
.create-event__category-container select{
    margin-right: auto;
    color:white;
    resize:none;
    background-color: rgba(105, 102, 102, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    outline:0;
    border:0;
    width: 85%;
    padding: 10px 20px;
    border-radius: var(--borderRad);
    font-size: var(--fontSize);
}
.create-event__category-container select{
    width: 86%;
    margin: 5px 0px;

}
.create-event__location-container input,
.create-event__participant-container input{
    width: 90%;
}
.create-event__description-container textarea{
    height: 200px;
}
.create-event__form textarea::-webkit-scrollbar {
    display: none;
  }
.create-event__rules-container textarea{
    height: 100px;
}

.create-event__description-container textarea::placeholder,
.create-event__rules-container textarea::placeholder
{
    color:white;
}
.create-event__ticket-container select{
    border:0;
    outline: 0;
    color:white;
    /*Glass*/
    background-color: rgba(105, 102, 102, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.create-event__ticket-container option,
.create-event__category-container option{
    border:0;
    outline: 0;
    color:white;
    /*Glass*/
    background-color: rgb(74, 73, 73);
    font-size: 20px;
}

::-webkit-datetime-edit{
    color:white;
}

.create-event__form input[type = "text"]::placeholder,
.create-event__form input[type = "number"]::placeholder{
    color:white;
}
.create-event__form button{
    border-radius: 0;
    outline:0;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: calc(var(--fontSize) + 5px);
    color:white;
    width:60%;
}
.create-event__submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.create-event__form .create-event__button{
    
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width:100%;
    height: 100px;
    transition: 0.7 ease-in-out;
}
.create-event__form .create-event__button:hover{
    
    opacity: 0.7;
}
.create-event__form .create-event__button:active{
    opacity:1;
}
/*Abstract Object*/

.create-event__abstract-container .create-event__gradient-smudge{
    z-index: 0;
    position: absolute;
    
    --radialPos: 600px;
    --gradientColor : rgb(255, 104, 39);
    height: var(--radialPos);
    width: var(--radialPos);

    margin-left:-400px;
    margin-top:400px;
    --radialRad : var(--circleRad);
    border-radius:  50%;
 
    filter: blur(50px);
    background: radial-gradient(circle at center, var(--gradientColor), transparent);
}
.create-event__abstract-container .create-event__gradient-smudge:nth-last-of-type(1){
    z-index: 0;
    position: absolute;
    
    --radialPos: 800px;

    height: var(--radialPos);
    width: var(--radialPos);
    margin-left:1000px;
    margin-top:-300px;
    --radialRad : var(--circleRad);
    border-radius:  50%;
 
    filter: blur(50px);
     
    background: radial-gradient(circle at center, var(--gradientColor), transparent);
}


